@charset_"UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    background-color: aliceblue;
}
header{
    background-color: black;
    
    text-align: center;
}
header> h1{
    color: white;
    padding-top: 50px;
    font-variant: small-caps;

}
header>p{
    padding-bottom: 50px;
    color: white;
}
section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: rgba(123, 121, 121, 0.803);
    color: white;
}
section.imagem{
    background-color: white;
    color: black;
}
section.imagem>p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.392);
}
header a, footer a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px;
   
}